/*
Theme Name: aubergducoin
Author: nastywars
Template: generatepress
Text Domain: aubergeducoin
Description: Thème enfant de GeneratePress, créer pour un TP de formation DWWM
Version: 1.0.0
Requires at least: 4.5.0
Requires PHP: 5.4.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


.main-title{
    font-family: "Kaushan Script", cursive;
    font-size: 150px;
    line-height: 1.5em;
}
.main-title a{
    color: #fff;
}

.main-title a:hover{
    color: #fff;
}

.site-description{
    color: #fff;
    font-family: "Kaushan Script", cursive;
    font-size: 25px;
}

/*couleur bienvenu !*/
#site-navigation .current-menu-item a{
    background-color: #3f3f3f;
}

#masthead{
    background-image: url('../../uploads/2021/02/cropped-shutter-PPN467B-scaled-2.jpg');
    background-size: cover;
    background-position: center center;
    height: 600px;
}

